/** @format */
.container {
  display: flex;
  flex-direction: column;
}

.titleContainer {
  text-align: center;
}

.titlePage {
  margin-bottom: 1rem;
  align-self: center;
  border-bottom: 3px solid var(--primary-color);
  border-radius: 5px;
}

.title {
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 3rem;
}

.form label {
  margin-bottom: 5px;
}

.formColumn {
  display: flex;
  flex-direction: column;
}

.errorMessage {
  color: red;
  font-size: var(--font-small);
}

.form input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.actionsAddressContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.actionButton {
  border-radius: 5px;
  border-color: var(--primary-color);
  padding: 0.3rem;
  max-width: 3rem;
  cursor: pointer;
  background-color: transparent;

  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transition for shadow and transform */
}

.actionButton:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* Darker shadow on hover */
  transform: scale(1.05); /* Slightly larger */
}

.iconPlus {
  color: var(--primary-color);
}

.actionsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

.button {
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  min-width: 6rem;
}

.submitButton {
  background-color: var(--primary-color);
}

.submitButton:hover {
  background-color: var(--primary-color-hover);
}

.cancelButton {
  background-color: var(--negative-color);
}

.cancelButton:hover {
  background-color: var(--negative-color-hover);
}

@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .form {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 3rem;
  }
}
