/** @format */
.container {
  display: flex;
  flex-direction: column;
}

.titlePage {
  margin-bottom: 1rem;
  align-self: center;
}

.title {
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 3rem;
}

.form label {
  margin-bottom: 5px;
}

.formColumn {
  display: flex;
  flex-direction: column;
}

.errorMessage {
  color: red;
  font-size: var(--font-small);
}

.form input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.actionButton {
  border-radius: 5px;
  border-color: var(--primary-color);
  color: var(--primary-color);
  padding: 0.1rem;
  max-width: 3rem;
  cursor: pointer;
  background-color: transparent;
}

.actionButton:hover {
  border-radius: 5px;
  border-color: var(--primary-color);
  color: var(--primary-color);
  padding: 0.1rem;
  max-width: 3rem;
  cursor: pointer;
  background-color: transparent;
}

.submitButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #0056b3;
}
