/** @format */

.content {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-left: 1rem;
  padding-right: 1rem;
}

.loginText {
  font-family: var(--title-font);
  color: var(--secondary-color);
}

.accountDetails {
  position: relative;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  background-color: white;
  color: var(--primary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  top: 100%;
  left: 0;
  z-index: 100;
}

.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown ul li {
  padding: 8px 16px;
  cursor: pointer;
}

.dropdown ul li:hover {
  background-color: #f0f0f0;
}
