/** @format */

.content {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-left: 1rem;
  padding-right: 1rem;
}

.loginText {
  font-family: var(--title-font);
  color: var(--secondary-color);
}
